{% load staticfiles %}
{% load i18n %}

<section id="providers" class="dark-gray-section">
    <div class="row text-center pt-3 pb-2">
        <p class="providers-header">{% trans "HOME046" %}</p>
        <div class="providers-icon-wrapper container">
            <img src="{% static "img/providers/aia.png" %}" alt="dashboard" class="img-responsive providers-icon">
            <img src="{% static "img/providers/axa.png" %}" alt="dashboard" class="img-responsive providers-icon">
            <img src="{% static "img/providers/fwd.png" %}" alt="dashboard" class="img-responsive providers-icon">
            <img src="{% static "img/providers/manulife.png" %}" alt="dashboard" class="img-responsive providers-icon">
            <img src="{% static "img/providers/massmutual.png" %}" alt="dashboard" class="img-responsive providers-icon">
            <img src="{% static "img/providers/prudential.png" %}" alt="dashboard" class="img-responsive providers-icon">
            <p class="providers-icon-text hidden-xs">{% trans "HOME047" %}</p>
        </div>
    </div>
</section>